@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-1: rgb(25, 42, 86);
  --primary-color-2: rgb(255, 255, 255);
  --primary-color-3: rgb(1, 121, 105);
  --primary-color-4: rgb(0, 191, 154);
  --primary-color-5: rgb(230, 219, 219);
  --primary-color-6: rgb(223, 237, 240);
  --primary-color-7: rgb(255, 255, 255);

  --scroll-bg-color: #f1f1f1;
  --scroll-color: #888;

  --bg-1: url("../assets/bg1.png");
  --josefin-sans-font: var(--josefin-sans-font);
  --montserrat-font: var(--montserrat-font);
}

[data-theme="dark"] {
  --primary-color-1: rgb(25, 42, 86);
  --primary-color-2: rgb(255, 255, 255);
  --primary-color-3: rgb(1, 121, 105);
  --primary-color-5: rgb(230, 219, 219);
  --primary-color-6: rgb(156, 203, 214);
  --primary-color-7: #3f3f3f;

  --scroll-bg-color: #888;
  --scroll-color: #292929;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-block: 0;
  font-family: var(--josefin-sans-font);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: rgb(var(--primary-color-2));
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scroll-bg-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
}
